* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: whitesmoke;
  padding: 4vw 6vw;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid rgb(163, 163, 163);
  text-align: left;
  padding: 8px;
}
th:nth-child(even),
td:nth-child(even) {
  background-color: lightgray;
}
